    table>thead>tr>th {
        font-weight: 350;
        background-color: rgb(31, 38, 45);
        color: #ffffff;
        text-align: center;
        padding: 4px;
    }
    
    .bg-warning {
        padding: 2% !important;
    }
    
    table>tbody>tr>td {
        font-weight: 400;
        text-align: center;
        padding: 4px;
    }
    
    button.dt-button {
        color: #fff !important;
        background: #212529 !important;
        border-color: #32383e !important;
    }
    
    .paginate_button {
        color: #fff !important;
        background: #212529 !important;
        border-color: #32383e !important;
    }
    
    .cardwidth {
        margin-left: 1%;
        max-width: 49%
    }
    
    .date div {
        float: left;
        padding: 15px;
        border-radius: 50%;
        background-color: rgb(116, 116, 116);
    }
    
    .date div img {
        height: 32px;
        width: 32px;
    }
    
    .date span strong {
        display: block;
        float: right;
        margin-right: 0px;
        margin-top: 10px;
        text-align: right;
        font-size: 1.3em;
    }
    
    .date span {
        float: right;
        margin-right: 10px;
        text-align: right;
    }
    
    .branch div {
        float: left;
        background-color: rgb(116, 116, 116);
        padding: 12px;
        border-radius: 50%;
        background-color: rgb(116, 116, 116);
    }
    
    .branch div img {
        height: 32px;
        width: 32px;
    }
    
    .branch span strong {
        display: block;
        float: right;
        margin-right: 0px;
        margin-top: 10px;
        text-align: right;
        font-size: 1.3em;
    }
    
    .branch span {
        float: right;
        margin-right: 10px;
        text-align: right;
    }
    
    .activeshadow span {
        color: black;
    }
    /* a:hover {
        color: black;
        -webkit-box-shadow: 0px -1px 28px -4px rgba(28, 34, 102, 0.46);
        -moz-box-shadow: 0px -1px 28px -4px rgba(28, 34, 102, 0.46);
        box-shadow: 0px -1px 28px -4px rgba(28, 34, 102, 0.46);
    } */
    
    .margindiv {
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 1%;
    }
    
    .label {
        font-size: 20px;
        font-weight: 500 !important;
    }
    
    .label1 {
        font-size: 17px;
        font-weight: 500 !important;
    }
    
    @media print {
        @page {
            size: A4 !important;
            margin-bottom: 50mm !important;
        }
        a[href]:after {
            content: none !important;
        }
        /* .ok {
            display: none !important;
        } */
        .msg {
            display: none !important;
        }
        .printbtn,
        .cashbookclose,
        .cashIn_out {
            display: none !important;
        }
        .col-md-6 {
            width: 50% !important;
        }
        /* .table {
                page-break-inside: auto;
            }
            .table thead th {
                font-weight: 400;
                background-color: rgb(31, 38, 45);
                color: black;
                text-align: center;
                padding: 4px;
            }
            thead {
                display: table-header-group
            }
            /* tfoot {
                display: table-row-group
            } */
        /* tr {
                page-break-inside: avoid;
                page-break-after: auto;
            }
        */
        .table,
        .table>tr>td,
        .table>tr>th,
        .table>tbody>tr>td,
        .table>thead>tr>th,
        .table>thead>tr>td {
            background: white;
            border: 1px solid black !important;
            padding: 3px 3px !important;
            vertical-align: middle !important;
            overflow: visible !important;
            text-align: center !important;
            color: black !important;
            padding: 2px 2px !important;
            font-weight: bold !important;
        }
        .table>thead {
            display: table-header-group !important;
        }
        .table>tr {
            page-break-inside: avoid !important;
        }
        .table>tbody>tr>th.heading {
            text-align: left !important;
        }
        .table>tbody>tr>th.subHeading {
            text-align: left !important;
        }
        .cashbookclose {
            display: none !important;
        }
        .cashIn_out {
            display: none !important;
        }
        .printbtn {
            display: none !important;
        }
    }