.greentick div {
    float: left;
    background-color: rgb(116, 116, 116);
    padding: 15px;
    border-radius: 50%;
    background-color: rgb(40, 183, 121);
}

.greentick div img {
    height: 32px;
    width: 32px;
}

.margindiv {
    margin-top: 1%;
}

.greentick span {
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    text-align: right;
    font-size: 1.2em;
}

.redtick div {
    float: left;
    background-color: rgb(116, 116, 116);
    padding: 12px;
    border-radius: 50%;
    background-color: rgb(199, 74, 72);
}

.redtick div img {
    height: 32px;
    width: 32px;
}

a.activeshadow,
a.blockshadow {
    color: black;
}

a.activeshadow:hover,
a.blockshadow:hover {
    color: black;
    -webkit-box-shadow: 0px -1px 28px -4px rgba(28, 34, 102, 0.46);
    -moz-box-shadow: 0px -1px 28px -4px rgba(28, 34, 102, 0.46);
    box-shadow: 0px -1px 28px -4px rgba(28, 34, 102, 0.46);
}

.redtick span {
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    text-align: right;
    font-size: 1.2em;
}

.table td,
.table th {
    vertical-align: middle !important;
    text-align: center !important;
}

table thead th {
    font-weight: 400;
    background-color: rgb(31, 38, 45);
    color: #ffffff;
    text-align: center;
    padding: 3px;
}

.summarytable tbody td {
    padding: 5px !important;
    vertical-align: -webkit-baseline-middle !important;
}

.label {
    font-weight: 500 !important;
}

.card-footer {
    background: white !important;
}

td img,
th img {
    height: 16px;
    width: 16px;
}

button.dt-button {
    color: #fff !important;
    background: #212529 !important;
    border-color: #32383e !important;
}

.dataTables_paginate .paginate_button {
    color: #fff !important;
    background: #212529 !important;
    border-color: #32383e !important;
}